* {
    box-sizing: border-box;
}

body {
    

    background: linear-gradient(to right, #00a6e8, ease, blue);
    font-family: var(--font-main);
}

code {
    font-family: var(--font-mono);
}

img {
    --border-width: 5px;

    filter: grayscale(0.8);
    border: var(--border-width) solid white;
    transition: filter 0.9s ease;

    &:hover {
        border: var(--border-width) solid green;
        filter: unset;
    }
}


a {
    color: black;

    &:hover {
        color: #fff;
    }
}

@media (--tablet) {
    a, a:visited {
        color: yellow;
    }
}

@media (--mobile) {
    a, a:visited {
        color: orange;
    }
}

