* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    color: var(--color-text-main);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--default-padding);
}

header {
    display: block;
    width: 100%;
    height: 150px; /* unlikely */
    background: linear-gradient(to bottom, rgb(252, 194, 87), ease, transparent);
}

.site-footer {
    display: block;
    width: 100%;
    height: 100px;
    background: darkgray;
}   

@media (--tablet) {

}

@media (--mobile) {
   
}

