* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: var(--font-main);
    color: var(--color-text-main);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--default-padding);
}

header {
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, orange, ease, transparent);
}

.site-footer {
    display: block;
    width: 100%;
    height: 100px;
    background: darkgray;
}

code {
    font-family: var(--font-mono);
}

a, a:visited {
    text-decoration: none;
    font-weight: 500;
}
    

@media (--tablet) {

}

@media (--mobile) {
   
}

