/* Media variables */
@custom-media --mobile only screen and (max-width: 767px);
@custom-media --tablet only screen and (min-width: 768px) and (max-width: 1023px);
@custom-media --desktop only screen and (min-width: 1024px);
/* @custom-media --desktop-large only screen and (min-width: 1360px); */

@custom-media --at-least-tablet only screen and (min-width: 768px);
/* @custom-media --at-least-desktop only screen and (min-width: 1024px); */

:root {
    /* Layout */
    --container-width: 100%;

    --default-padding: 1rem;

    /* Typography */
    --font-main: 'Roboto', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    /* Colors: https://mycolor.space/?hex=%2300171F&sub=1 */
    --gun-metal: #233445;
    --deep-saffron: #f2962f;
    --dark-tangerine: #fca311;
    --princeton-orange: #fb8b24;
    --eerie-black: #1a1f16;
    --rich-black: #00171f;
    --rich-black-dark: #000B0F;
    --rich-black-light: #112E38;
    --rich-black2: #001011;
    --baby-powder: #fdfffc;
    --yankees-blue: #1d2d44;

    /* very nice blue */
    --astronaut-blue: #0b486b;

    --nice-blue: #2274A5;
    

    --white-smoke: #f7f7f2;
    --platinum: #e5e7e6;

    --color-text-main: var(--eerie-black);
    --color-header-background: var(--rich-black);
    --color-header-background-top: var(--rich-black-dark);
    --color-header-symbols: var(--rich-black-light);
    --color-body-background: var(--baby-powder);


}

@media (--tablet) {
    :root {
        --container-width: 768px;
    }   
}

@media (--desktop) {
    :root {
        --container-width: 964px;
    }
}
/*
@media (--desktop-large) {
    :root {
        --container-width: 1024px;
    }
}
*/