{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('site-header__stripe') }}></div>
  <div class="container container--brand">
    <div class="brand">
      <span class="brand__hash">#</span><span class="brand__patrik">patrik</span><span class="brand__dot">.</span><span class="brand__style">style</span><span class="brand__brace">{</span><span class="brand__slogan">content: '<span class="brand__slogan-text">devblog and portfolio maybe</span>';</span><span class="brand__brace">}</span>
    </div>
  </div>
  <div class="container">
    {# Main menu in here. #}
    {{ content }} 
  </div>
{% endif %}

